.StepsTableRow {
  display: flex;
}

.StepsTableRow span {
  display: inline-block;
  text-align: left;
}

.StepsTableRow span:first-child {
  width: 51%;
}

.StepsTableRow span:nth-child(2) {
  width: 32%;
}

.StepsTableRow__btns {
  display: flex;
  gap: 15px;
}

.StepsTableRow__btns button{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;

  background-color: white;

  width: 20px;
  height: 100%;
  padding: 0;
}

.StepsTableRow__btns-edit {
  background-image: url('../../../../icons/2956842.png');

  transform: rotate(270deg);
}
 
.StepsTableRow__btns-delete {
  background-image: url('../../../../icons/Black-X-Letter-PNG-Image.png');

  background-color: white;
}
